/* Import des styles de base Leaflet */
@import "leaflet/dist/leaflet.css";

/* Import des styles pour les clusters (Nécessaire pour la logique, même si on style par dessus) */
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

html, body { 
    height: 100%; 
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
